/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: #2d2d30;
    margin-bottom: 0;
    border-radius: 0;
}

/* Set the minimum height and background color of the grid */
.row.content, #register, #manage {
    min-height: 500px;
    background-color: #F5FFFA;
}

a:hover {
    text-decoration: none;
}

#main {
    padding-left: 15%;
}

.sidenav {
    padding-top: 20px;
}

.well {
    margin: 5% 10%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding-top: 15px;
}

/* Set footer hyperlink hover color, with no text-decoration */
footer a:hover {
    color: #73AD21;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .alert {
    padding: 2px;
}

#login-dp .bottom {
    background-color: white;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#signupbox {
    margin-top: 50px;
}

#signupform .alert {
    padding: 10px;
}