/* css for __base__.html */
.navbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: #2d2d30;
    margin-bottom: 0;
    border-radius: 0;
}

#change {
    cursor: pointer;
}

#upload {
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 25%;
    width: 50%;
    background-color: grey;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .alert {
    padding: 2px;
}

#login-dp .bottom {
    background-color: white;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

footer {
    background-color: #555;
    color: white;
    padding-top: 15px;
}

footer a:hover {
    color: #73AD21;
}

@media screen and (max-width: 767px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0;
    }
}


/* general */
a:hover {
    text-decoration: none;
}

.row.content, #register, #manage {
    min-height: 500px;
    background-color: #F5FFFA;
}

.sidenav {
    padding-top: 20px;
}

.col-sm-3.sidenav.text-center img {
    width: 180px;
}

#control, #blogs {
    margin: 10px 0 20px 0;
}

#main {
    padding-left: 15%;
}


/* css for blog.html */
.col-sm-2.text-center img {
    width: 75px;
    height: 75px;
}

#replybody .text-primary:after {
    content: 'author';
    background: #00CED1;
    color: #FFF;
    font-size: 11px;
    padding: 1px 2px 2px 2px;
    font-weight: 700;
    margin-left: 5px;
    border-radius: 3px;
}

#replybody h4 {
    display: inline-block;
}

#replybody > p:first-child {
    overflow-x: scroll;
    font-size: 16px;
}

#replybody:hover #replybutton {
    display: inline-block;
}

#replybody:hover #deletebutton {
    display: inline-block;
}

#subbox img {
    width: 60px;
    height: 60px;
}

#replydeletebutton {
    float: right;
    cursor: pointer;
    color: #D9534F;
}

#replybutton, #deletebutton {
    float: right;
    font-size: 90%;
    padding-left: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#replybutton abbr {
    border-bottom: none;
}

#replybox {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 120px;
    margin: auto;
}

#replybox div {
    margin: 5px;
}

#replybox button {
    float: right;
}


/* css for edit.html */
#edit {
    margin-top: 20px;
}


/* css for manage.html */
#manage {
    padding: 2% 6%;
}

.breadcrumb {
    background-color: #FFF5EE;
}

#firstcol button {
    float: right;
    margin-right: 5%;
}

#subtable {
    position: fixed;
    bottom: 50%;
    width: 80%;
    left: 10%;
    margin: auto;
    background-color: #FFFACD;
    font-size: 90%;
    border-radius: 10px 20px;
}


/* css for register.html */
#signupbox {
    margin-top: 50px;
}

#signupform .alert {
    padding: 10px;
}