{% extends 'sidenav.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="col-sm-9" id="main">
    <h2 class="text-primary">{{ blog.title }}</h2>
    <h4 class="text-muted"><i class="glyphicon glyphicon-time"></i> Posted by {{ blog.user_name }}, {{ blog.created|datetime }}
        {% if blog.last_modified %}/ Last modified, {{ blog.modified|datetime }} {% endif %}</h4>
    <h4>{% set labels = ['primary', 'success', 'info', 'warning', 'danger'] %}
        {% for tag in blog.tag %}
        <span class="label label-{{ labels|random }}">{{ tag }}</span>
        {% endfor %}
    </h4>
    {{ blog.content|markdown|safe }}<hr>
    {% if g.__user__ %}
    <h4>Leave a comment:</h4>
    <form class="form" v-on:submit.prevent="submit">
        <div class="form-group">
            <textarea class="form-control" rows="5" v-model="comment" placeholder="Join the discussion..." required></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
    <br><br>
    {% else %}
    <h4 class="text-right">Please sign in to make a comment</h4>
    {% endif %}
    <p>Comments <span class="badge" v-text="comments | count"></span></p>
    <div class="row" id="replyarea" v-for="(index, item) in comments" track-by="_id">
        <div class="col-sm-2 text-center">
            <img v-bind:src="item.user_image" class="img-circle" alt="Avatar" />
        </div>
        <div class="col-sm-10" id="replybody">
            <h4 v-if="item.user_name===item.blog_author" class="text-primary" v-text="item.user_name"></h4>
            <h4 v-else class="text-info" v-text="item.user_name"></h4><h4></h4>
            <h4><small v-text="item.created | datetime"></small></h4>
            <h4 style="float:right" class="text-muted" v-text="index | getIndex comments.length"></h4>
            <p id="replycontent" v-html="item.content"></p>
            {% if g.__user__ %}
            <a v-on:click="replyBox(item._id, index, 1, '')" onclick="blackMagic($(this), 1)" id="replybutton">
                <i class="glyphicon glyphicon-share-alt"></i> Reply
            </a>
            {% if g.__user__.admin %}
            <a v-on:click="delete(item)" id="deletebutton"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            {% endif %}
            {% else %}
            <a id="replybutton" class="text-muted"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
            {% endif %}
            <div class="row" id="subbox" v-if="item.subcomment" v-for="comment in item.subcontent">
                <div class="col-sm-1">
                    <img v-bind:src="comment.user_image" class="img-circle" alt="Avatar" />
                </div>
                <div class="col-sm-11" id="replybody">
                    <h5 v-if="comment.user_name===item.blog_author" class="text-primary" v-text="comment.user_name"></h5>
                    <h5 v-else class="text-info" v-text="comment.user_name"></h5><h5></h5>
                    <h4><small v-text="comment.created | datetime"></small></h4>
                    <p v-html="comment.content"></p>
                    {% if g.__user__ %}
                    <a v-on:click="replyBox(item._id, index, 2, comment.user_name)" onclick="blackMagic($(this), 2)" id="replybutton2">
                        <i class="glyphicon glyphicon-share-alt"></i> Reply
                    </a>
                    {% if g.__user__.admin %}
                    <a v-on:click="delete_one(item, comment)" id="deletebutton2">
                        <i class="glyphicon glyphicon-trash"></i> Delete
                    </a>
                    {% endif %}
                    {% else %}
                    <a id="replybutton" class="text-muted"><i class="glyphicon glyphicon-share-alt"></i></a>
                    {% endif %}
                </div>
            </div>
            <form class="form" v-on:submit.prevent="reply" style="display:none"><br>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <textarea class="form-control" rows="3" v-text="sth" v-model="subcomment" required></textarea>
                    </div>
                    <div class="form-group col-sm-2">
                        <button class="btn btn-lg">Submit</button>
                    </div>
                </div>
            </form><hr>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/comment.js"></script>
{% endblock %}