{% extends 'sidenav.html' %}
{% block title %}Jiayi's Blog{% endblock %}
{% set labels = ['primary', 'success', 'info', 'warning', 'danger'] %}
{% block content %}
<div class="col-sm-9" id="home">
    <div class="text-right">
        <button class="btn btn-default btn-xs" @click="viewmode('?view=catalog')">
            <span class="glyphicon glyphicon-list"></span> Catalog View</button>
        <button class="btn btn-default btn-xs" @click="viewmode('?view=summary')">
            <span class="glyphicon glyphicon-th"></span> Summary View</button>
    </div>
    {% if g.__view__ != 'catalog' %}
    {% for blog in blogs %}
    <h3 class="text-primary">{{ blog.title }}</h3>
    <h4><small><i class="glyphicon glyphicon-time"></i> Posted by {{ blog.user_name }}, {{ blog.created|datetime("summary") }}
        {% if blog.last_modified %}/ Last modified: {{ blog.modified|datetime("summary") }} {% endif %}</small></h4>
    <h5>{% for tag in blog.tag %}<span class="label label-{{ labels|random }}">{{ tag }}</span>  {% endfor %}</h5>
    {{ blog.summary|markdown|safe }}
    <p><a href="blog/{{ blog._id }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p><hr>
    {% endfor %}
    {% else %}
    <table class="table">
        <tbody>
            {% for b in blogs2 %}
            <tr>
                <td class="col-sm-6"><a :href="'/blog/'+ '{{ b._id }}'">{{ b.title }}</a></td>
                <td class="col-sm-2 text-right">{{ b.user_name }}</td>
                <td class="col-sm-4 text-right">{{ b.created|datetime("catalog") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="text-center">
        <ul class="pagination pagination-sm">
            {% for p in pages %}
            <li class="{{'active' if p == page}}">
                {% if p != page %}<a href="/blogs/{{p}}">{{ p }}</a>
                {% else %}<a>{{ p }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/blogs.js"></script>
{% endblock %}