{% extends 'sidenav.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="col-sm-9" id="home">
    <h4><small>RECENT POSTS </small></h4>
    {% for blog in blogs %}
    <h3 class="text-primary">{{ blog.title }}</h3>
    <h4><small><i class="glyphicon glyphicon-time"></i> Posted by {{ blog.user_name }}, {{ blog.created|datetime }}
        {% if blog.last_modified %}/ Last modified, {{ blog.modified|datetime }} {% endif %}</small></h4>
    <h5>{% set labels = ['primary', 'success', 'info', 'warning', 'danger'] %}
        {% for tag in blog.tag %}
        <span class="label label-{{ labels|random }}">{{ tag }}</span>
        {% endfor %}
    </h5>
    <p>{{ blog.summary|markdown|safe }}</p>
    <p><a href="blog/{{ blog._id }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p><hr>
    {% endfor %}
</div>
{% endblock %}