{% extends '__base__.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
<form id="blog" v-on:submit.prevent="submit" class="center-block">
    <div class="alert alert-danger" hidden>
        <a class="close" onclick="$('.alert').fadeOut('fast')">&times;</a>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span v-text="message"></span>
    </div>
    <div class="form-group">
        <input class="form-control" v-model="blog.title" name="title" type="text" placeholder="Title">
    </div>
    <div class="form-group">
        <input class="form-control" v-model="blog.tag" name="tag" type="text" placeholder="Tags">
    </div>
    <div class="form-group">
        <textarea class="form-control" v-model="blog.content" name="content" placeholder="Content" rows="15"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-md">Submit</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="/static/js/edit.js"></script>
{% endblock %}