/* css for __base__.html */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFAFA;
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: #FDEFF2;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-header i,
#navbarleft a,
#signin,
#last > a {
    color: #A22041;
}

#signin, #change, #user {
    cursor: pointer;
}

#user {
    color: #171615;
}

.navbar-header i:hover,
#navbarleft a:hover,
#signin:hover,
#last > a:hover,
#user:hover {
    color: #F7C114;
}

#upload {
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 25%;
    width: 50%;
    background-color: grey;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .alert {
    padding: 2px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

footer {
    position: relative;
    left: 0%;
    bottom: 0;
    width: 100%;
    margin: auto;
    color: #008B8B;
    font-size: 90%;
    z-index: 0;
}

footer a {
    color: #00CED1;
}

footer a:hover {
    color: #73AD21;
}

@media screen and (max-width: 767px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0;
    }
}


/* general */
a:hover {
    text-decoration: none;
}

.sidenav {
    padding-top: 20px;
}

.col-sm-3.sidenav.text-center img {
    width: 180px;
}

#control, #blogs, #edit, #register, #manage {
    min-height: 90%;
    margin-bottom: 30px;
}

#control, #blogs {
    padding-top: 10px;
}

#edit {
    padding-top: 30px;
}

#main {
    padding-left: 15%;
}


/* css for blog.html */
.col-sm-2.text-center img {
    width: 75px;
    height: 75px;
}

.commonuser {
    color: #6E1D38;
}

#replybody .text-primary:after {
    content: 'author';
    background: #00CED1;
    color: #FFF;
    font-size: 11px;
    padding: 1px 2px 2px 2px;
    font-weight: 700;
    margin-left: 5px;
    border-radius: 3px;
}

#replybody h4 {
    display: inline-block;
}

#replycontent {
    overflow-x: auto;
    font-size: 16px;
}

#replybody:hover #replybutton {
    display: inline-block;
}

#replybody:hover #deletebutton {
    display: inline-block;
}

#subbox img {
    width: 60px;
    height: 60px;
}

#replydeletebutton {
    float: right;
    cursor: pointer;
    color: #D9534F;
}

#replybutton, #deletebutton {
    float: right;
    font-size: 90%;
    padding-left: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#replybutton abbr {
    border-bottom: none;
}

#replybox {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 120px;
    margin: auto;
    z-index: 1;
}

#replybox div {
    margin: 5px;
}

#replybox button {
    float: right;
}

/* css for manage.html */
#manage {
    padding: 2% 6%;
}

.breadcrumb {
    background-color: #FDEFF2;
}

.breadcrumb a {
    color: #A22041;
}

#firstcol button {
    float: right;
    margin-right: 5%;
}

#subtable {
    position: fixed;
    bottom: 20%;
    width: 80%;
    left: 10%;
    margin: auto;
    background-color: #FCFBF5;
    font-size: 90%;
    border-radius: 10px 20px;
}


/* css for register.html */
#signupbox {
    margin-top: 50px;
}

#signupform .alert {
    padding: 10px;
}