/* css for __base__.html */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFAFA;
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: #FDEFF2;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-header i,
#navbarleft a,
#navbarright a {
    color: #A22041;
}

.dropdown-menu a,
#navbarright a,
#change, #user,
#commentsignin {
    cursor: pointer;
}

#user {
    color: #171615;
}

.navbar-header i:hover,
#navbarleft a:hover,
#navbarright a:hover,
#user:hover {
    color: #F7C114;
}

.modal-body img {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

#upload, #signin {
    top: 10%;
}

#signin .modal-header,
#signin h4 {
    background-color: #5CB85C;
    color: white;
    text-align: center;
    font-size: 30px;
}

#signin .modal-header {
    padding: 20px 10px;
}

#signin .modal-body {
    padding: 30px 20px;
}

#signin .modal-footer {
    background-color: #F9F9F9;
}

#signinform button {
    margin-top: 25px;
}

footer {
    position: relative;
    left: 0%;
    width: 100%;
    margin: auto;
    color: #008B8B;
    font-size: 90%;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 0;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

footer a {
    color: #00CED1;
}

footer a:hover {
    color: #73AD21;
}

@media screen and (max-width: 767px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0;
    }
}


/* general */
a:hover {
    text-decoration: none;
}

.sidenav {
    padding-top: 20px;
}

.col-sm-3.sidenav.text-center img {
    width: 180px;
}

#control {
    min-height: 90%;
    margin-bottom: 30px;
    padding-top: 10px;
}

.text-primary, .text-info {
    font-weight: bold;
}

#main, #home {
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
    padding-left: 15%;
}


/* css for blogs.html */
#home .text-right {
    margin-top: 10px;
}

#home > p {
    margin-top: 15px;
    font-size: 1.1em;
}

#home tr, #home td {
    border-top: 1px dotted lightgrey;
    border-bottom: 1px dotted lightgrey;
}

.pagination {
    padding-top: 10px;
}


/* css for blog.html */
#main {
    font-size: 1.25em;
}

#main > p {
    margin-top: 20px;
}

.col-sm-2.text-center img {
    width: 70px;
    height: 70px;
}

.text-right {
    margin-bottom: 3%;
    color: #A22041;
}

#replybody .text-primary:after {
    content: 'author';
    background: #00CED1;
    color: #FFF;
    font-size: 11px;
    padding: 2px 3px;
    font-weight: 700;
    margin-left: 5px;
    border-radius: 3px;
}

.col-sm-1 {
    clear: right;
    padding-top: 10px;
}

.col-sm-11 > :first-child,
.col-sm-11 > p {
    padding-left: 10px;
}

.col-sm-11 > p {
    overflow-x: auto;
    font-size: 16px;
    margin-bottom: 0;
}

#replybody h4, #replybody h5 {
    display: inline-block;
}

#replycontent {
    overflow-x: auto;
    font-size: 18px;
    margin-bottom: 0;
}

#subbox img {
    width: 45px;
    height: 45px;
}

#replydeletebutton {
    float: right;
    cursor: pointer;
    font-size: 80%;
    color: #D9534F;
}

#replybutton, #deletebutton {
    float: right;
    font-size: 75%;
    padding-left: 10px;
    color: #A58AC2;
    cursor: pointer;
}

#replybutton2, #deletebutton2 {
    float: right;
    font-size: 66%;
    padding-left: 10px;
    color: #A58AC2;
    cursor: pointer;
}

#noreply {
    float: right;
    font-size: 75%;
    cursor: pointer;
}

#noreply2 {
    float: right;
    font-size: 66%;
    cursor: pointer;
}

.replybox .col-sm-10 {
    padding-right: 0;
}

.replybox .col-sm-2 {
    margin-top: 6px;
}

.replybox button {
    color: #FFFAFA;
    background-color: #00CED1;
    padding: 16px 8px;
}

.replybox button:hover {
    color: #FFFAFA;
    background-color: #48D1CC;
}


/* css for manage.html */
#manage {
    padding: 1% 6%;
}

.breadcrumb {
    background-color: #FDEFF2;
}

.breadcrumb a {
    color: #A22041;
}

#firstcol button {
    float: right;
    margin-right: 5%;
}

#subtable {
    position: fixed;
    bottom: 20%;
    width: 80%;
    left: 10%;
    margin: auto;
    background-color: #FCFBF5;
    font-size: 90%;
    border-radius: 10px 20px;
}


/* css for edit.html */
#blog {
    width: 85%;
    padding-top: 30px;
}


/* css for register.html */
#signupbox {
    width: 30%;
    margin: auto;
    margin-top: 30px;
}

.register:first-child {
    margin-bottom: 0;
}

#signupform .alert {
    margin: 0;
    padding: 10px;
}

.register {
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

#signupform label {
    padding-bottom: 5px;
}

#recaptcha {
    margin-top: 15px;
    margin-bottom: 15px;
}