{% extends '__base__.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="col-sm-9" id="main">
    <h4><small>RECENT POSTS</small></h4>
    {% for blog in blogs %}
        <h2 class="text-primary">{{ blog.title }}</h2>
        <h4><small><span class="glyphicon glyphicon-time"></span> Posted by user, {{ blog.date|datetime }}</small></h4>
        <!-- will add tags here -->
        <p>{{ blog.summary }}</p>
        <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p>
        <hr>
    {% endfor %}
    </div>
    <div class="col-sm-3 sidenav text-center">      
        <div class="well">
            <p>Content</p>
        </div>
        <div class="well">
            <p>Content</p>
        </div>
        <p>Title</p>
        <p>Title</p>
        <p>Title</p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
    </div>
{% endblock %}