{% extends '__base__.html' %}

{% block title %}Blog{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="col-sm-2 sidenav text-center">
      <p>Title</p>
      <p>Title</p>
      <p>Title</p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>

    <div class="col-sm-8" id="main">
    <h4><small>RECENT POSTS</small></h4>
    {% for blog in blogs %}
        <h2 class="text-primary">{{ blog.name }}</h2>
        <h4><small><span class="glyphicon glyphicon-time"></span> Posted by user, {{ blog.created_at|datetime }}</small></h4>
        <!-- will add tags here -->
        <p>{{ blog.summary }}</p>
        <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p>
        <hr>
    {% endfor %}
    </div>

    <div class="col-sm-2 sidenav text-center">      
        <div class="well">
            <p>Content</p>
        </div>
        <div class="well">
            <p>Content</p>
        </div>
    </div>

{% endblock %}